<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhicai.byteera">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    <permission android:name="com.zhicai.byteera.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.zhicai.byteera.permission.JPUSH_MESSAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!--<uses-permission android:name="android.permission.READ_CONTACTS" />-->
    <!-- Required  一些系统要求的权限，如访问网络等-->

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--TestIn SDK-->
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/start_logo"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        tools:replace="android:icon,android:theme">
        <uses-library android:name="android.test.runner" />

        <activity android:name=".activity.SelectAddressActivity">
        </activity>
        <activity android:name=".activity.WelcomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.initialize.GuideActivity" />

        <activity android:name=".activity.MainActivity" android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.initialize.LoginActivity" />
        <activity android:name=".activity.initialize.SettingActivity" />
        <activity android:name=".activity.initialize.AboutUSActivity" />
        <activity android:name=".activity.initialize.RegisterActivity" />
        <activity android:name=".activity.community.dynamic.activity.PublishDynamicActivity" />
        <activity android:name=".activity.community.dynamic.activity.AlbumActivity" />
        <activity android:name=".activity.community.dynamic.activity.GalleryActivity" />
        <activity android:name=".activity.community.dynamic.activity.ImageFileActivity" />
        <activity android:name=".activity.myhome.activity.ModifyUserInfoActivity" />
        <activity android:name=".activity.myhome.activity.ChangeNickNameActivity" />
        <activity android:name=".activity.community.dynamic.activity.ShowAllPhotoActivity" />
        <activity
            android:name=".activity.knowwealth.view.KnowWealthDetailCommentActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.community.dynamic.activity.DynamicCommentDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.myhome.activity.SelectCityAcitivity" />
        <activity android:name=".activity.myhome.activity.ChangePwdActivity" />
        <activity android:name=".activity.myhome.activity.ChangeCardActivity" />
        <activity android:name=".activity.myhome.activity.MyShoucangActivity" />
        <activity android:name=".activity.myhome.activity.MyDynamicActivity" />
        <activity android:name=".activity.initialize.UserProtocolActivity" />
        <activity android:name=".activity.myhome.activity.MyFriendsActivity" />
        <activity android:name=".activity.myhome.activity.MyCaiBiActivity" />
        <activity android:name=".activity.myhome.activity.MyFansActivity" />
        <activity android:name=".activity.myhome.activity.MyFocusActivity" />
        <activity android:name=".activity.community.dynamic.activity.UserFocusActivity" />
        <activity android:name=".activity.community.dynamic.activity.UserFansActivity" />
        <activity android:name=".activity.myhome.activity.MyTixianActivity" />
        <activity android:name=".activity.message.SelectAddressActivity" />
        <activity android:name=".activity.community.dynamic.activity.ImagePagerActivity" />
        <activity android:name=".activity.community.topic.actiivty.TopicDetailActivity" />
        <activity android:name=".activity.community.topic.actiivty.TopicActivity"/>
        <activity android:name=".activity.knowwealth.view.WebViewActivity" />
        <activity android:name=".activity.community.group.AllGroupActivity" />
        <activity android:name=".activity.community.group.SelelctGroupActivity" />
        <activity android:name=".activity.community.topic.actiivty.MoreTopicActivity" />
        <activity android:name=".activity.community.group.MyGroupActivity" />
        <activity android:name=".activity.community.dynamic.activity.AdditionActivity" />
        <activity
            android:name=".activity.community.topic.actiivty.PublishOpinionActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.community.topic.actiivty.InstitutionListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.community.dynamic.activity.OrganizationInfoActivity" />
        <activity android:name=".activity.community.dynamic.activity.UserHomeActivity" />
        <activity android:name=".activity.community.dynamic.activity.OrganizationHomeActivity" />
        <activity android:name=".activity.community.dynamic.activity.GroupHomeActivity" />
        <activity android:name=".activity.community.dynamic.activity.GroupHomeSecondActivity" />
        <activity android:name=".activity.community.dynamic.activity.RatingActivity" />
        <activity
            android:name=".activity.knowwealth.view.KnowWealthDetailCommentActivity2"
            android:windowSoftInputMode="adjustResize" />

        <!--理财收益-->
        <activity android:name=".activity.shouyi.InComeConditionActivity" />

        <!--财币商城-->
        <activity android:name=".activity.community.dynamic.activity.exchangerecord.CoinStoreActivity" />
        <activity android:name=".activity.community.dynamic.activity.exchangerecord.ExchangeRecordList" />
        <activity
            android:name=".activity.community.dynamic.activity.exchangerecord.ExchangeActivity"
            android:theme="@style/CoinDialogActivity" />

        <!-- hx chat -->
        <activity android:name=".activity.message.ChatActivity" />
        <activity android:name=".activity.message.AlertDialogActivity" android:theme="@style/MyDialogStyle" />
        <activity android:name=".activity.message.ContextMenuActivity" android:theme="@style/MyDialogStyle" />
        <activity android:name=".activity.message.GroupDetailsActivity" />
        <activity android:name=".activity.message.ExitGroupDialog" android:theme="@style/MyDialogStyle" />
        <activity android:name=".activity.message.PickContactNoCheckboxActivity" />
        <activity android:name=".activity.message.GroupPickContactsActivity" />
        <activity android:name=".activity.message.ShowBigImage" />

        <activity android:name=".activity.product.ProductDetailActivity"/>
        <activity android:name=".activity.product.JumpWebActivity"/>
        <activity android:name=".activity.initialize.FindPwdActivity" />
        <activity android:name=".activity.initialize.FindPwdActivity2" />
        <activity android:name=".activity.community.dynamic.activity.RecommendActivity" />
        <activity android:name=".activity.knowwealth.view.KnowWealthDetailActivity" />
        <activity android:name=".activity.message.BaiduMapActivity" />
        <activity android:name=".activity.message.ForwardMessageActivity" />
        <activity android:name=".activity.message.SystemMessageActivity" />
        <activity android:name=".activity.message.SearchResultActivity" />
        <activity android:name=".activity.message.SearchFriendActivity" />
        <activity android:name=".activity.message.CollectionActivity" />

        <activity android:name=".activity.traincamp.DayTaskActivity" />
        <activity android:name=".activity.traincamp.DailyTaskActivity" />
        <activity android:name=".activity.traincamp.activity.WealthTaskActivity" />
        <activity android:name=".activity.traincamp.activity.GuessMissionListActivity" />
        <activity android:name=".activity.traincamp.activity.GuessGameActivity" />
        <activity android:name=".activity.traincamp.activity.GuessPicActivity" />
        <activity android:name=".activity.community.dynamic.adapter.SubjectActivity" />
        <activity android:name=".activity.community.dynamic.adapter.SubjectDetailActivity" />

        <service android:name=".activity.traincamp.downloader.DownloadService" />

        <activity android:name="com.zhicai.byteera.activity.traincamp.view.AwardWebView" />
        <activity android:name="com.zhicai.byteera.activity.shouyi.CompaniesListActivity" />

        <receiver android:name=".commonutil.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- 开机自启动服务 -->
        <receiver android:name="com.easemob.chat.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="13811964921#zhicai" />
        <!-- 声明sdk所需的service -->
        <service android:name="com.easemob.chat.EMChatService" />
        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />
        <!-- umeng appkey，可忽略 -->
        <meta-data android:name="UMENG_APPKEY" android:value="5535bb6667e58e4db3002cbc" />
        <meta-data android:name="UMENG_CHANNEL" android:value="qq" />

        <!--qq Share -->
        <activity android:name="com.tencent.tauth.AuthActivity" android:noHistory="true" android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1104879487" />
            </intent-filter>
        </activity>

        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <!--Jpush-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.zhicai.byteera" />
            </intent-filter>
        </activity>

        <service android:name="cn.jpush.android.service.DownloadService" android:enabled="true" android:exported="false"/>
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <service android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.zhicai.byteera" />
            </intent-filter>
        </service>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.zhicai.byteera" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>


        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false" />
        <receiver android:name=".jpush.JpushReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.zhicai.byteera" />
            </intent-filter>
        </receiver>


        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default" />
        <meta-data android:name="JPUSH_APPKEY" android:value="c3f9b7b2311f9a931d707d46" />

    </application>
</manifest>